@import '../../assets/scss/variables';

.datepicker {
  &__toggle {
    position: relative;
    width: 35px;
    height: 30px;
    border-style: none;
    background-color: transparent;
    background-image: url('../../assets/icons/calendar.svg');
    background-position: center;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}

.datepicker-container {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

.react-datepicker {
  font-size: 1.1rem;
  font-family: inherit;
  border-style: none;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);

  &__header {
    border-bottom-style: none;
    background-color: $secondary-color;
  }

  &__current-month {
    font-size: 1.3rem;
    color: $tertiary-color;
    font-weight: 400;
  }

  &__day-name {
    color: $tertiary-color;
    font-weight: 400;
    width: 2.1rem;
    line-height: 2.1rem;
    margin: 0.2rem;
  }

  &__day {
    width: 2.1rem;
    line-height: 2.1rem;
    margin: 0.2rem;
  }

  &__navigation {
    top: 4px;
    -webkit-tap-highlight-color: transparent;
  }

  &__navigation-icon::before,
  &__navigation:hover *::before {
    border-color: $tertiary-color;
  }

  &__day--keyboard-selected,
  &__day--selected {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($color: $secondary-color, $amount: 10);
    }
  }

  &__day--selected {
    background-color: $secondary-color;
  }
}
