@import '../../assets/scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  color: $quaternary-color;
}

.toggle-deletion {
  width: 30px;
  height: 30px;
}
