.task-count {
  margin-left: auto;
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (max-width: 380px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 330px) {
    font-size: 0.7rem;
    margin-right: 0;
  }
}
