@import '../../assets/scss/variables';

.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: $secondary-color;

  &__link {
    text-decoration: none;
    color: $quaternary-color;
  }
}
